Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

URxvt.scrollBar: false

!URxvt.font: -*-terminus-*-*-*-*-21-*-*-*-*-*-*-*
!URxvt*font:     xft:Terminus:bold:size=15
URxvt*font: xft:Bitstream Vera Sans Mono:style=Roman:size=11
URxvt.letterSpace: -2

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

! do not scroll with output
URxvt*scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt*scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt*scrollTtyKeypress: true

URxvt.secondaryScreen: 1
URxvt.secondaryScroll: 0
